# Default ignored files
/*.iml
/artifacts/
/caches/
/compiler.xml
/gradle.xml
/inspectionProfiles/
/misc.xml
/modules.xml
/modules/
/runConfigurations.xml
/shelf/
/workspace.xml
AndroidProjectSystem.xml
assetWizardSettings.xml
deploymentTargetSelector.xml
vcs.xml
